.login-form{
    margin: 0 auto;
    margin-top: 50px;    
}
.login-status{
    margin-top: 15px;
}
@media (max-width: 576px) { 
    .login-form__button{
        margin-top:16px;        
        width: 100%;
    }
    .login-form{
        margin: 0 auto;
        margin-top: 20px;
    }
 }
 @media (max-width: 768px) { 
   
    .login-form{
        margin: 0 auto;
        margin-top: 25px;
    }
 }