.orders-details{
    margin-top: 20px;
}
.books-table{
    margin-top: 20px;
}
.books-table button{
    margin-left: 5px;
    margin-right: 5px;
    padding-top:2px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}
.books-table > tbody > tr > td,
.books-table > tbody > tr > th,
.books-table > tfoot > tr > td,
.books-table > tfoot > tr > th,
.books-table > thead > tr > td
 {
    border: none;
}
.update_userBook-form .form-group label{
    margin-bottom: 0;
}
.update_userBook-form .form-group{
    margin-bottom: 8px;
}