ul li {
    list-style:none;
}
ul li a{
    color: inherit;
}
ul li a:hover{
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.list-item{
    margin-top: 20px;
}